<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="author" content="Your Name" />
    <meta name="description" content="Webpack Boilerplate" />
    <meta name="theme-color" content="#2980b9" />

    <title>Webpack Boilerplate</title>

    <!-- Please keep the following lines here: -->
    <%= !htmlWebpackPlugin.options.isDev ? 
      `<link rel="stylesheet" href="${htmlWebpackPlugin.files.chunks.main.css}">` 
      : `` 
    %>
    <!-- Thank you -->
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div>Hello, world!</div>

    <!-- Please keep the following lines here: -->
    <script type="<%= htmlWebpackPlugin.options.isDev ? `application/javascript` : `module` %>" 
      src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    <%= !htmlWebpackPlugin.options.isDev ? 
      `<script nomodule src="${'<'}%= htmlWebpackPlugin.files.chunks.mainLegacy.entry %${'>'}"></script>` 
      : `` 
    %>
    <!-- Thank you -->
  </body>
</html>
